@font-face {
    font-family: "Comforta";
    src: url(../fonts/Comfortaa-Regular.woff2)format("woff2"),url(../fonts/Comfortaa-Regular.woff)format("woff"),
    local("Comforta");
}
    @font-face { 
    font-family: "Helvetica";
    src: url(../fonts/HelveticaNeueCyr-Light.woff2)format("woff2"),url(../fonts/HelveticaNeueCyr-Light.woff)format("woff"),
    local("Helvetica NeueCyr"),local("Helvetica-NeueCyr");
}
    @font-face {
    font-family: "Helvetica-roman";
    src: url(../fonts/HelveticaNeueCyr-Roman.woff2)format("woff2"),url(../fonts/HelveticaNeueCyr-Roman.woff)format("woff"),
    local("Helvetica Neue-roman"),local("Helvetica-Neue-roman");
}
    @font-face {
    font-family: "Helvetica-medium";
    src: url(../fonts/HelveticaNeueCyr-Medium.woff2) format("woff2"),
    url(../fonts/HelveticaNeueCyr-Medium.woff)format("woff"),
    local("Helvetica Neue-medium"),local("Helvetica-Neue-medium");
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

a, p, li {
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 20px;
}

h1, h2, h3, h4 ,h5 {
    font-family: "Comforta", sans-serif;
    font-size: 50px;
    margin: 0;
    line-height: 100%;
}


section{
    width: 1440px;
    margin: 0 auto; 
    background: #F2F0F1;
    padding: 90px 130px;   
}

.container {
    
    width: 1440px;
    margin: 0 auto;
    
}

.header__menu {
    width: 1440px;
    margin: 0 auto;
    padding-top: 25px;
    margin-bottom: 27px;
}

.header__menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header__title-tel {
    content: "";
    background: url(../img/phone_top.svg) no-repeat;
    width: 220px;
    height: 18px;
    padding-left: 35px;
}

.pets__container {
    display: flex;
    padding-bottom: 90px;
    position: relative;
}

.pets__left {
    position: relative;
}

.pets__text {
    padding-top: 137px;
    max-width: 480px;
    height: 182px;
    font-size: 60px;
    font-weight: 400;
}

.pets__text-orange {
    color: #FF8A00;
}

.pets__button_top {
    position: absolute;
    bottom: 10px;
    left: 200px;
}

.pets__middle{
    align-self: flex-end
}

.pets__middle-sara {
    content: "";
    background: url(../img/sara_dog.png);
    width: 580px;
    height: 580px;

}

.pets__list {
    padding-top: 100px;
    width: 180px;
    list-style: none;
}

.pets__item:not(:last-child) {
    margin-bottom: 30px;
}

.pets__item {
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    align-self: center;
}

.pets__item-boris {
    content: "";
    background:url(../img/Boris_cat.png)no-repeat;
    width: 80px;
    height: 80px;
    padding-left: 100px;
    padding-top: 30px;
}

.pets__item-lui {
    content: "";
    background:url(../img/lui_dog.png)no-repeat;
    width: 80px;
    height: 80px;
    padding-left: 100px;
    padding-top: 30px;
}

.pets__item-piter{
    content: "";
    background:url(../img/piter_rabbit.png)no-repeat;
    width: 80px;
    height: 80px;
    padding-left: 100px;
    padding-top: 30px;
}

.pets__item-kenny {
    content: "";
    background:url(../img/kenny_cat.png)no-repeat;
    width: 80px;
    height: 80px;
    padding-left: 100px;
    padding-top: 30px;
}

.about__title {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
}

.about__text {
    font-weight: 300;
}

.about__text-link{
    text-align: end;
}

.about__link {
    font-weight: bold;
    line-height: 26px;
    color: #FF8A00;
    text-align: end;
    text-decoration: none;
}

.about__link:after {
    content: "\2192";
    color: #ff8a00;
    width: 25px;
    height: 17px;
    padding-left: 20px;
}

.help li {
    list-style: none;
    font-size: 30px;
    margin-bottom: 50px;
}

ol{
    position: relative;
    counter-reset: myCounter;
}

.about {
    display: flex;
    justify-content: space-between;
}

.about__block-text {
    width: 480px;
}

.about__block-img {
    width: 580px;
}

.help {
    margin-bottom: 90px;
}

.help__list {
    position: relative;
}

.help__list:before {
    position: absolute;
    counter-increment: myCounter;
    content:counter(myCounter);
    color: #ff8a00;
    font-size: 50px;
    background: #FFFFFF;
    height: 80px;
    width: 80px;
    padding-top: 25px;
    padding-left: 25px;
    border-radius: 50px;
    left: -100px;
    bottom: 200px;
    
}

.help li:nth-child(2n)::before {
    top: -25px;
}



.help__title {
    text-align: center;
    font-size: 50px;
    color: #ff8a00;
    margin-bottom: 114px;
}

.help__subtitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.help__finance-block {
    display: flex;   
}

.help__finance-text {
    width: 380px;
    margin-right: 120px;
}


.help__finance-block-text {
    display: flex;
    flex-direction: column;
    align-self: center;
}


.help__volonter-block {
    display: flex;
}

.help__volonter-block {
    justify-content: space-between;
}

.help__volonter-img {
    margin-right: 20px;
}

.help__volonter-block-text {
    width: 580px;
}

.help__opekun-block {
    display: flex;   
}

.help__opekun-text {
    width: 480px;
    margin-right: 20px;
}

.help__opekun-block-text {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.help__opekun-text-bold {
    font-weight: bold;
}

.help__opekun-title{
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
}

.button__middle {
    display: block;
    background: url(../img/Paw.png) top no-repeat;
    border: 0;
    font-weight: 550;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FF8A00;
    padding-top: 71px;
    margin-top: 50px;
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.button__middle:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition-duration: 300ms;
}

.button__middle:focus {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition-duration: 300ms;
}

.form {
    background-color: #F2F0F1;
    border-radius: 20px;
    width: 780px;
    height: 562px;
    text-align: center;
    position: relative;
    margin:0 auto;
    padding: 50px 100px;
    margin-bottom: 167px;
}

.form_block {
    height: 462px;
    padding: 50px 100px;
    width: 780px;
    margin: 0 auto;
}

.form__title {
    color: #FF8A00;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

.form__text-orange{
    color: #FF8A00;
    font-weight: 550;
}

.form__communicate {
    list-style: none;
    margin-bottom: 60px;
}

.form__item{
    display: inline-block;
    padding-left: 30px;
}

.form__item:not(:last-child) {
    margin-right: 40px;
}

.form a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: 550;
    height: 20px;
}

.form__mail {
    background: url(../img/email.svg) no-repeat;
}

.form__phone {
    background: url(../img/call.svg) no-repeat;
}

.form__input {
    display: block;
    width: 280px;
    height: 40px;
}

.form__name {
    display: inline-block;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    margin-right: 16px;
}

.form__name:last-child {
    margin-right: 0;
}

.form__button {
    display: block;
    background: url(../img/Paw.png) top no-repeat;
    border: 0;
    font-weight: 550;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FF8A00;
    padding-top: 71px;
    margin-left: auto;
    margin-top: 34px;
}

.form__button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition-duration: 300ms;
}

.form__button:focus {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition-duration: 300ms;
}









